html {}
body {}

* {
    box-size: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.global-section {}
.row {
    position: relative;
}
    .header {
        position: fixed;
        height: 359px;
        width: 20%;
        left: 40%;
        margin-top: 60px;
        text-align: center;
    }
    .header > .logo-img {
        margin-bottom: 26px;
        cursor: pointer;
    }
    .header-steps {
        list-style: none;
        text-align: center;
        padding: 0;
        position: relative;
    }
    .header-step {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 13px;
    }
    .home-button {
        text-decoration: none;
        color: #333333;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
        position: relative;
        border-top: 1px solid #333333;
        border-bottom: 1px solid #333333;
        padding: 2px 8px;
    }
    .nav-button {
        text-decoration: none;
        color: #333333;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
        position: relative;
        padding: 2px 8px;
    }
    .nav-button:hover {
        border-top: 1px solid #333333;
        border-bottom: 1px solid #333333;
    }

    .column-left-wrapper {
        width: 40%;
        float: left;
        margin-top: 60px;
        position: relative;
    }
    .column-left {
        width: 80%;
        float: right;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .item {
        float: left;
        position: relative;
        margin-bottom: 6px;
        width: 49%;
    }
    .item-title {
        padding-top:41%;
        margin:0;
        font-size:14px;
        color:#000;
        font-weight:600;
        letter-spacing:-2px;
        text-transform: uppercase;
        display:inline-block;
        width:80%;
        opacity:0;
    }
    .item-odd {
        margin-right: 1%;
    }
    .item-img {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
    }
    .item-hover {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:#FFF;
        text-align:center;
        text-decoration:none;
        visibility:hidden;
        opacity:0;
    }
.item:hover .item-hover,.item-hover:hover{
    visibility:visible;
    opacity:0.95;
}
.item:hover .item-hover > h3{
    letter-spacing:0.9px;
    opacity:1;
}

    .column-right-wrapper {
        width: 40%;
        float: right;
        margin-top: 60px;
        position: relative;
    }
    .column-right {
        width: 80%;
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .column-right > .post {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
        padding: 0;
    }
    .post > .post-img {
        width: 100%;
        display: block;
        cursor: pointer;
    }
    .post > .post-body {
        margin-bottom: 16px;
    }
    .post-body > .post-title {
        margin-top: 12px;
        margin-bottom: 4px;
        padding:0;
    }
    .post-title > .post-button {
        font-size: 15px;
        font-weight: 500;
        color: #111;
        letter-spacing: 1.4px;
        text-decoration: none;
    }
    .post-button:hover {
        color: red;
    }
    .post-body > .post-text {
        margin: 0;
        padding: 0;
        letter-spacing: 0.7px;
        line-height: 1.75em;
        font-size: 14px;
        color: #666;
    }
    .post-body > .post-undercase {
        color: #666;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1.2px;
        margin-top: 20px;
        margin-bottom: 8px;
        width: 100%;
        border-bottom: 1px dotted #666;
        padding-bottom: 10px;
    }
    .post-undercase > .post-link {
        color:#444;
        text-decoration: none;
        padding: 1px 0;
    }
    .post-undercase > .post-link:hover {
        color: red;
        border-bottom: 1px solid red;
    }

.footer {
    position: relative;
}
    .footer-left-col {
        display: block;
        position: relative;
        float: left;
        top: 0;
        left: 10%;
    }
    .footer-steps {
        list-style: none;
        display: block;
        position: relative;
    }
    .footer-steps > .footer-step {
        color: #333;
        padding: 3px 0;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        position: relative;
    }
    .footer-step > .footer-link {
        color: #333;
        text-decoration: none;
    }
    .footer-step > .footer-link:hover {
        border-bottom: 1px solid red;
    }
    .footer-right-col {
        display: block;
        position: relative;
        float: right;
        top: 0;
        right: 10%;
    }
    .footer-right-col > .social-links {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .social-links > .social-link {
        float: left;
        position: relative;
        margin: 5px;
    }
    .social-link > .m-link {
        color: #333;
        cursor: pointer;
    }
    .social-link > .m-link:hover {
        opacity: 0.5;
    }

@media all and (max-width: 768px) {
        .header {
            width: 90%;
            margin: 20px auto 40px auto;
            position: relative;
            top: 0;
            left: 0;
            height: auto;
        }
        .header-step {
            float: left;
        }
        .header-steps {
            margin: 0 20px;
        }
        .home-button {
            color: #333333;
            border: none;
        }
        .nav-button {
            color: #9c9c9c;
        }
        .home-button:hover {
            color: red;
        }
        .nav-button:hover {
            color: red;
            border: none;
    }
        .column-left-wrapper {
            display: none;
            position: absolute;
            float: none;
            width: 0;
        }
        .column-right-wrapper {
            width: 90%;
            position: relative;
            float: none;
            margin: 0 auto;
        }
        .column-right {
            float: none;
            width: 100%;
        }
        .footer-right-col {
            position: absolute;
            display: none;
            float: none;
            width: 0;
        }
        .footer-left-col {
            left: 0;
        }
}
@media all and (max-width: 450px) {
    .header {
        width: 90%;
        margin: 20px auto 20px auto;
        position: relative;
        top: 0;
        left: 0;
        height: auto;
    }
    .header-steps {
        display: none;
        width: 0;
        float: none;
        position: absolute;
    }
    .column-left-wrapper {
        display: none;
        position: absolute;
        float: none;
        width: 0;
    }
    .column-right-wrapper {
        width: 90%;
        position: relative;
        float: none;
        margin: 0 auto;
    }
    .column-right {
        float: none;
        width: 100%;
    }
    .footer-right-col {
        position: absolute;
        display: none;
        float: none;
        width: 0;
    }
    .footer-left-col {
        left: 0;
    }
}
